@import "../../../../../utilities.module";

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 100px;
  .left,
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .column {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      div {
        display: flex;
      }
      .order,
      .tran {
        width: 100%;
        background: linear-gradient(
          to right,
          colorWithOpacity($w, 0.2),
          transparent,
          colorWithOpacity($w, 0.1)
        );
        padding: 12px;
        border-radius: 6px;
        align-items: center;
        .details {
          flex: 2;
          flex-direction: column;

          .title {
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 30px;
            text-transform: uppercase;
          }
          .date {
            font-size: 0.85rem;
            font-style: italic;
            color: $s;
          }
        }
        .amount {
          flex: 1;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    gap: 50px;
    .left,
    .right {
      flex: unset;
      width: 100%;
      .column {
        .order,
        .tran {
          .details {
            .title {
              font-size: 0.9rem;
            }
          }
          .amount {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
