.transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  left: -100vw;
  bottom: -100%;
  z-index: 9999999;

  background-color: var(--bg);
  padding: 6px;
  font-size: 0.85rem;
  border-radius: 6px;
  color: var(--white);
  width: 40%;
  transition: 0.5s;

  span {
    color: var(--pl);
    font-weight: bold;
  }
}
.show {
  left: 5%;
  bottom: 5%;
}

@media screen and (max-width: 800px) {
  .transactions {
    width: 90%;
  }
  .show {
    bottom: 5%;
  }
}
