@import "../../utilities.module";
.main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  width: 100%;
  padding: 10%;
  text-align: center;
  background-color: colorWithOpacity($bg,0.95);
  color: $w;
  font-size: 0.9rem;
  h1,p{
    width: 80%;
  }
  .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brookers {
    gap: 20px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    a {
      transition: 1s;
      width: 23%;
      aspect-ratio: 240/143;
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        bottom: 0;
        background-color: $bg;

        font-size: 0.8rem;
        overflow-wrap: break-word;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 10vh 10%;
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.9rem;
    }
    .brookers {
      gap: 10px;
      a {
        width: 45%;
      }
    }
  }
}
