@import "../../../utilities.module";
.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  padding: 7%;
  background-color: $bg;
  z-index: 3;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 95%;
    background-color: colorWithOpacity($s,0.1);
    z-index: -1;
  }
}
