@mixin keyframes($action) {
  @keyframes #{$action} {
    @content;
  }
}
@function colorWithOpacity($color, $opacity) {
  $rgbaColor: rgba($color, $opacity);
  @return $rgbaColor;
}
@function colorWithBrightness($color, $brightness) {
  $adjustedColor: if(
    $brightness > 0,
    lighten($color, $brightness),
    darken($color, abs($brightness))
  );
  @return $adjustedColor;
}

$p: #87ffa1;
$s: #8ff8ff;
$grad:linear-gradient(90deg,var(--s),var(--p));
$bg: #000000;
$g: #eceff5;
$w: #ffffff;
$t: #fd040c;
$wgrad:linear-gradient(to right, colorWithOpacity($w,0.1),transparent,colorWithOpacity($w,0.1));



@mixin animate($name, $duration, $method, $delay, $loop) {
  animation: $name $duration $method $loop;
}

@include keyframes(circleShow) {
  0% {
    clip-path: circle(19.1% at 51% 46%);
  }
  10% {
    clip-path: circle(23.3% at 59% 59%);
  }
  20% {
    clip-path: circle(24.8% at 36% 63%);
  }
  30% {
    clip-path: circle(29.6% at 32% 36%);
  }
  40% {
    clip-path: circle(40.5% at 54% 43%);
  }
  50% {
    clip-path: circle(50% at 50% 50%);
  }
  70% {
    clip-path: circle(71.5% at 50% 51%);
  }
  100% {
    clip-path: circle(28.6% at 50% 51%);
  }
}
@include keyframes(cycle) {
  0% {
  rotate: 0deg;
  }
  50% {
    rotate: 180deg;

  }
  100% {
    rotate: 360deg;

  }
}

